In [198]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline
from nltk.stem import PorterStemmer 
from nltk.tokenize import word_tokenize 
import seaborn as sns

In [199]:
data = pd.read_csv("bbc.csv")

In [200]:
data.head()

        category                                               text
0           tech  tv future in the hands of viewers with home th...
1       business  worldcom boss  left books alone  former worldc...
2          sport  tigers wary of farrell  gamble  leicester say ...
3          sport  yeading face newcastle in fa cup premiership s...
4  entertainment  ocean s twelve raids box office ocean s twelve...

In [201]:
#data = pd.read_csv('https://raw.githubusercontent.com/marsja/jupyter/master/SimData/FifthDayData.csv'
                  #index_col="ID")

In [202]:
data['index'] = range(1, len(data) + 1)

In [203]:
#data.set_index('id', inplace=True)

In [204]:
data.head()

        category                                               text  index
0           tech  tv future in the hands of viewers with home th...      1
1       business  worldcom boss  left books alone  former worldc...      2
2          sport  tigers wary of farrell  gamble  leicester say ...      3
3          sport  yeading face newcastle in fa cup premiership s...      4
4  entertainment  ocean s twelve raids box office ocean s twelve...      5

In [205]:
data["category_id"] = data["category"].factorize()[0]

In [206]:
data.head()

,category,text,index,category_id
0,tech,tv future in the hands of viewers with home th...,1,0
1,business,worldcom boss left books alone former worldc...,2,1
2,sport,tigers wary of farrell gamble leicester say ...,3,2
3,sport,yeading face newcastle in fa cup premiership s...,4,2
4,entertainment,ocean s twelve raids box office ocean s twelve...,5,3

In [207]:
colslist = [ 'category', 'text', 'index','category_id']

In [208]:
data.columns = colslist

In [209]:
data.head()

,category,text,index,category_id
0,tech,tv future in the hands of viewers with home th...,1,0
1,business,worldcom boss left books alone former worldc...,2,1
2,sport,tigers wary of farrell gamble leicester say ...,3,2
3,sport,yeading face newcastle in fa cup premiership s...,4,2
4,entertainment,ocean s twelve raids box office ocean s twelve...,5,3

In [210]:
len(data["index"])

2225

### aba yata tyo dataframe ko real index use garna naparla

In [211]:
#data.sample(10 , random_state = 0)

In [212]:
import nltk

In [213]:
stopwords = nltk.corpus.stopwords.words('english')

In [214]:
data.head()

,category,text,index,category_id
0,tech,tv future in the hands of viewers with home th...,1,0
1,business,worldcom boss left books alone former worldc...,2,1
2,sport,tigers wary of farrell gamble leicester say ...,3,2
3,sport,yeading face newcastle in fa cup premiership s...,4,2
4,entertainment,ocean s twelve raids box office ocean s twelve...,5,3

In [215]:
data['news_without_stopwords'] = data['text'].apply(lambda x: ' '.join([word for word in x.split() if word not in (stopwords)]))

In [216]:
data["index"]

0          1
1          2
2          3
3          4
4          5
        ...
2220    2221
2221    2222
2222    2223
2223    2224
2224    2225
Name: index, Length: 2225, dtype: int32

In [217]:
data.head()

,category,text,index,category_id,news_without_stopwords
0,tech,tv future in the hands of viewers with home th...,1,0,tv future hands viewers home theatre systems p...
1,business,worldcom boss left books alone former worldc...,2,1,worldcom boss left books alone former worldcom...
2,sport,tigers wary of farrell gamble leicester say ...,3,2,tigers wary farrell gamble leicester say rushe...
3,sport,yeading face newcastle in fa cup premiership s...,4,2,yeading face newcastle fa cup premiership side...
4,entertainment,ocean s twelve raids box office ocean s twelve...,5,3,ocean twelve raids box office ocean twelve cri...

In [218]:
ps = PorterStemmer()

In [219]:
data['news_porter_stemmed'] = data['news_without_stopwords'].apply(lambda x: ' '.join([ps.stem(word) for word in x.split()]))

In [220]:
data.head()

,category,text,index,category_id,news_without_stopwords,news_porter_stemmed
0,tech,tv future in the hands of viewers with home th...,1,0,tv future hands viewers home theatre systems p...,tv futur hand viewer home theatr system plasma...
1,business,worldcom boss left books alone former worldc...,2,1,worldcom boss left books alone former worldcom...,worldcom boss left book alon former worldcom b...
2,sport,tigers wary of farrell gamble leicester say ...,3,2,tigers wary farrell gamble leicester say rushe...,tiger wari farrel gambl leicest say rush make ...
3,sport,yeading face newcastle in fa cup premiership s...,4,2,yeading face newcastle fa cup premiership side...,yead face newcastl fa cup premiership side new...
4,entertainment,ocean s twelve raids box office ocean s twelve...,5,3,ocean twelve raids box office ocean twelve cri...,ocean twelv raid box offic ocean twelv crime c...

In [221]:
# lambda function ***

In [222]:
data['news_porter_stemmed'] = data['news_porter_stemmed'].apply(lambda x: ' '.join(x.lower() for x in x.split()))

In [223]:
data['news_porter_stemmed'][0]

'tv futur hand viewer home theatr system plasma high-definit tv digit video record move live room way peopl watch tv radic differ five year time. accord expert panel gather annual consum electron show la vega discuss new technolog impact one favourit pastimes. us lead trend programm content deliv viewer via home network cabl satellit telecom compani broadband servic provid front room portabl devices. one talked-about technolog ce digit person video record (dvr pvr). set-top box like us tivo uk sky+ system allow peopl record store play paus forward wind tv programm want. essenti technolog allow much personalis tv. also built-in high-definit tv set big busi japan us slower take europ lack high-definit programming. peopl forward wind advert also forget abid network channel schedul put togeth a-la-cart entertainment. us network cabl satellit compani worri mean term advertis revenu well brand ident viewer loyalti channels. although us lead technolog moment also concern rais europ particularli grow uptak servic like sky+. happen today see nine month year time uk adam hume bbc broadcast futurologist told bbc news website. like bbc issu lost advertis revenu yet. press issu moment commerci uk broadcast brand loyalti import everyone. talk content brand rather network brand said tim hanlon brand commun firm starcom mediavest. realiti broadband connect anybodi produc content. added: challeng hard promot programm much choice. mean said stacey jolna senior vice presid tv guid tv group way peopl find content want watch simplifi tv viewers. mean network us term channel could take leaf googl book search engin futur instead schedul help peopl find want watch. kind channel model might work younger ipod gener use take control gadget play them. might suit everyon panel recognised. older gener comfort familiar schedul channel brand know getting. perhap want much choic put hand mr hanlon suggested. end kid diaper push button alreadi - everyth possibl avail said mr hanlon. ultim consum tell market want. 50 000 new gadget technolog showcas ce mani enhanc tv-watch experience. high-definit tv set everywher mani new model lcd (liquid crystal display) tv launch dvr capabl built instead extern boxes. one exampl launch show humax 26-inch lcd tv 80-hour tivo dvr dvd recorder. one us biggest satellit tv compani directtv even launch brand dvr show 100-hour record capabl instant replay search function. set paus rewind tv 90 hours. microsoft chief bill gate announc pre-show keynot speech partnership tivo call tivotogo mean peopl play record programm window pc mobil devices. reflect increas trend free multimedia peopl watch want want.'

In [224]:
# Removing Punctuation

In [225]:
data.head()

,category,text,index,category_id,news_without_stopwords,news_porter_stemmed
0,tech,tv future in the hands of viewers with home th...,1,0,tv future hands viewers home theatre systems p...,tv futur hand viewer home theatr system plasma...
1,business,worldcom boss left books alone former worldc...,2,1,worldcom boss left books alone former worldcom...,worldcom boss left book alon former worldcom b...
2,sport,tigers wary of farrell gamble leicester say ...,3,2,tigers wary farrell gamble leicester say rushe...,tiger wari farrel gambl leicest say rush make ...
3,sport,yeading face newcastle in fa cup premiership s...,4,2,yeading face newcastle fa cup premiership side...,yead face newcastl fa cup premiership side new...
4,entertainment,ocean s twelve raids box office ocean s twelve...,5,3,ocean twelve raids box office ocean twelve cri...,ocean twelv raid box offic ocean twelv crime c...

In [226]:
# <ipython-input-169-a5ba19819565>:1: FutureWarning: The default value of regex will change from True to False in a future version.
#data['news_porter_stemmed'] = data['news_porter_stemmed'].str.replace('[^\w\s]','' )

In [227]:
data['news_porter_stemmed'] = data['news_porter_stemmed'].str.replace('[^\w\s]','' )

<ipython-input-227-a5ba19819565>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  data['news_porter_stemmed'] = data['news_porter_stemmed'].str.replace('[^\w\s]','' )

In [228]:
freq = pd.Series(' '.join(data['news_porter_stemmed']).split()).value_counts()

In [229]:
freq2 = freq[freq<= 3]
freq2

stated         3
1500           3
kombou         3
wallpap        3
overtur        3
              ..
unobtrusive    1
wagoner        1
27025p         1
capitul        1
nanuku         1
Length: 17952, dtype: int64

In [230]:
freq3 = list(freq2.index.values)
freq3

['stated',
 '1500',
 'kombou',
 'wallpap',
 'overtur',
 'slowing',
 'teraflops',
 'mcgeadi',
 'knox',
 'noisi',
 'finale',
 'hanov',
 'biscan',
 'dominica',
 'taint',
 'sleeper',
 'swipe',
 'feleppa',
 'ceil',
 'corros',
 'stagnant',
 '8am',
 '2100',
 'uncut',
 'sculptor',
 'carlisl',
 'songbook',
 'creek',
 'spiki',
 'flame',
 'spammers',
 'cathi',
 'gimm',
 'james',
 'vicki',
 'torrid',
 'jonah',
 'maul',
 'tynesid',
 'internationals',
 'propel',
 'exemptions',
 '166bn',
 'antitori',
 'francesca',
 'ballard',
 'outburst',
 'dieter',
 'unoffici',
 'ancestor',
 'birkett',
 'geneti',
 'keyword',
 'withhold',
 'rightfoot',
 'asant',
 'thayer',
 'commemor',
 'exxonmobil',
 'chabal',
 '560',
 'goodridg',
 'philharmon',
 'innocence',
 'clown',
 'rendit',
 'discussion',
 'taste',
 'pipa',
 'microphone',
 'deceiv',
 'motors',
 'ammunit',
 'hypponen',
 'wharf',
 'majorityown',
 'kerrang',
 '850',
 'unassail',
 'academy',
 'deck',
 'tirunesh',
 'newham',
 '178bn',
 'trafalgar',
 '310',
 'created',
 'icrc',
 'cohes',
 'unmiss',
 'dole',
 'waiter',
 'homeown',
 'ide',
 'appleg',
 'imperson',
 'onematch',
 'walkington',
 '117',
 'englishlanguag',
 'camilla',
 'upn',
 'culprit',
 'worlds',
 'actors',
 'filippo',
 'kitt',
 'ronaldinho',
 'weed',
 'whine',
 'bungi',
 'halfback',
 'unsung',
 'brownsword',
 'po',
 'circumv',
 'computerandvideogamescom',
 'turin',
 'marko',
 'diva',
 'disench',
 'exboss',
 'walden',
 'waste',
 'wraztv',
 'rigoglioso',
 'highfield',
 'bucharest',
 'envoy',
 'fife',
 'physics',
 'jaw',
 'wallet',
 'plaudit',
 'hobb',
 'fundamentalist',
 'composur',
 'unwelcom',
 'usernam',
 'leroi',
 'tyler',
 'sevasti',
 'laughabl',
 'imam',
 'impressions',
 'properties',
 'locally',
 'hoadley',
 'someday',
 'predetermin',
 'ped',
 'sixyearold',
 'tiscali',
 'ah',
 'categories',
 'names',
 'goalscor',
 '1700',
 'worried',
 'regiments',
 'boyl',
 'fledgl',
 'delux',
 'escort',
 'contriv',
 'such',
 'archi',
 'ashburton',
 'bands',
 'vijay',
 'borough',
 'mantl',
 'recip',
 'languages',
 'undercov',
 'importance',
 'makow',
 'courier',
 'voterig',
 'mistake',
 'sanchez',
 'pentathlon',
 'moments',
 'aefa',
 'oilfield',
 '160',
 'embu',
 'playlists',
 '3000m',
 'antiimmigr',
 'ideas',
 'matron',
 'talented',
 'unskil',
 '1949',
 'boynton',
 'swallow',
 'deported',
 'allevi',
 'sleek',
 'recondit',
 'mccune',
 'alvarez',
 'grandfath',
 'bunt',
 'linpack',
 'symptom',
 'avoided',
 'zelda',
 'stella',
 'thx',
 'bye',
 'onetel',
 'energy',
 'sprain',
 'gavi',
 'petti',
 'encountered',
 'cambodia',
 'praise',
 'hector',
 'insisting',
 '429m',
 'placement',
 'pander',
 '54m',
 'inclusion',
 'codemast',
 'regent',
 'backing',
 'geni',
 'headbutt',
 'oti',
 'gilmor',
 'delivered',
 'effects',
 'bleep',
 'uv',
 'musampa',
 '28th',
 'indirect',
 'missi',
 'saumarez',
 '650m',
 'bills',
 'nevzlin',
 'gerolami',
 'intervoic',
 'brunswick',
 'interested',
 'os2',
 'mangala',
 'supercomputers',
 'symbolis',
 'lewisfrancis',
 'designed',
 'qualifiers',
 'interpol',
 'apprais',
 'miles',
 'revolt',
 '28m',
 'benjamin',
 'tu',
 'maran',
 'infection',
 'renton',
 'shave',
 'keaton',
 'oudendijk',
 'javier',
 'antinazi',
 'vinyl',
 'superman',
 'dei',
 'ghana',
 '5115',
 'unearth',
 'removed',
 'backtrack',
 'bars',
 'below',
 'lorri',
 '86m',
 'g20',
 'bundesbank',
 'triniti',
 'mennear',
 '109m',
 'decathlet',
 'boo',
 '39yearold',
 'fled',
 'fourthbiggest',
 'stack',
 'courtney',
 'augment',
 'seizur',
 'preselect',
 'cheung',
 'burgeon',
 'dahl',
 'stosur',
 'cave',
 'sierra',
 'dissip',
 'razor',
 'fide',
 'kenyon',
 'eraa',
 'hitzlsperg',
 'puma',
 'imper',
 'alexandria',
 'mud',
 'pitylak',
 'ballymena',
 'rewards',
 'historian',
 'lousi',
 'minnow',
 'vibrant',
 'emptyhand',
 'officer',
 'yes',
 'woefulli',
 'remad',
 'motormouth',
 'clearview',
 'heavyweight',
 'jeannin',
 'calmer',
 'bonds',
 'unicef',
 'ballerina',
 '1938',
 'personality',
 'palat',
 'suffering',
 '305',
 'stiffen',
 'mutant',
 'counterterror',
 'protests',
 'sigh',
 'ion',
 'discs',
 'hollow',
 'grandchild',
 'gait',
 'misconduct',
 'reverend',
 'shalabi',
 'curv',
 'telecentr',
 '257',
 'franklin',
 'fundraising',
 '36yearold',
 'oneyear',
 'autobiographi',
 '444',
 'drunken',
 'managers',
 'og',
 'leadup',
 'gisel',
 'jury',
 'closed',
 'needl',
 'fluf',
 'empower',
 'outings',
 'indispens',
 'spadea',
 'untrue',
 'bevan',
 'cupwin',
 'sinbin',
 'surplus',
 'singersongwrit',
 'library',
 'mariano',
 'dodd',
 'ondemand',
 'exoskeleton',
 'sylvest',
 'chorlton',
 'brass',
 'infiltr',
 'dudley',
 'bigot',
 '105bn',
 'yourself',
 'remi',
 '750m',
 'andrei',
 'posted',
 'announcements',
 'daddi',
 'allinon',
 'lyle',
 'rider',
 'availability',
 'mcindo',
 'indecis',
 'mytholog',
 'coltran',
 'tina',
 'suppress',
 'pariss',
 'disregard',
 'detach',
 'countered',
 'panoram',
 'hitchhik',
 'interviews',
 'instabl',
 'madam',
 'reporting',
 'chambers',
 'displays',
 'graft',
 'exchanges',
 'futurologist',
 'minigam',
 'barney',
 '140m',
 'fathom',
 'elected',
 'exploited',
 'objection',
 'texasbas',
 '456m',
 '104m',
 'constru',
 'martina',
 'choreographi',
 'rash',
 'villar',
 'davos',
 'gatekeep',
 'discredit',
 'instruments',
 'underdog',
 'favourites',
 'swaziland',
 'cygan',
 'wolfson',
 'inquiries',
 'perry',
 'seagat',
 'kinross',
 'moorcroft',
 'refug',
 'advent',
 'stubborn',
 'mcpake',
 'phpbb',
 'agm',
 'coma',
 'critical',
 'wikid',
 'beig',
 'minibreak',
 'alcatel',
 'escal',
 'survive',
 'jagran',
 'edgwar',
 'circulating',
 'blippop',
 'craney',
 'perrier',
 'regan',
 'paraguay',
 '95m',
 'exchat',
 '190m',
 '74bn',
 'henchoz',
 'mute',
 'envisag',
 '18rate',
 '258',
 'sonyericsson',
 '1935',
 'embroil',
 'honiss',
 'spine',
 'smallscal',
 'maldini',
 'singlehandedli',
 'worsthit',
 'primu',
 'disposal',
 'internationally',
 'ana',
 'depardieu',
 'curious',
 'techfest',
 'mcrae',
 '57bn',
 'europeans',
 'purpose',
 'chaotic',
 'fascist',
 'nearrecord',
 'jeanmichel',
 '661',
 'epidemic',
 '52bn',
 'overcapac',
 'participation',
 'equaliser',
 'unedit',
 'immeasur',
 'pray',
 'exposure',
 'heseltin',
 'oncefam',
 'trophy',
 'baoshan',
 'premiere',
 'mulligan',
 'alabama',
 'touchyfe',
 'representatives',
 'partizan',
 'plp',
 'should',
 '384',
 'headingley',
 'juic',
 '1966',
 'buena',
 'kilobit',
 'boards',
 'qualm',
 '1958',
 'indign',
 'shevardnadz',
 'subsaharan',
 '63bn',
 'chiffon',
 'withheld',
 'nake',
 'rile',
 'sidefoot',
 '565m',
 'blush',
 'monteith',
 'rochdal',
 'submitted',
 'fastfood',
 'gael',
 'zambian',
 'weis',
 'designs',
 'snipe',
 'gram',
 'hartz',
 'ador',
 'cochilco',
 '87bn',
 'ngage',
 '427',
 'siege',
 'templeton',
 'fullarton',
 'quarri',
 'cullum',
 'synonym',
 'chuckl',
 'obey',
 'lana',
 'reading',
 'narr',
 'accidental',
 'edinburghbas',
 'em',
 'castres',
 'mathieson',
 'inmat',
 'disrupted',
 'boa',
 'annul',
 'mfa',
 'llc',
 '161m',
 '136m',
 'butterfli',
 'pinchuk',
 'oppenheim',
 'eq',
 'seasonend',
 'generos',
 'cmf',
 'vocabulari',
 'competitiveness',
 'mutini',
 'delays',
 'knowingli',
 'pulp',
 'trapp',
 'fork',
 'rebalanc',
 'competitions',
 'carlsen',
 'slurri',
 'nikolay',
 'retract',
 'schubert',
 'cori',
 'defac',
 'iressa',
 'empty',
 'kamara',
 'hillsborough',
 'amus',
 'pedrazzi',
 'maci',
 'ntt',
 'cohost',
 'mackenzi',
 'lyricist',
 'summon',
 '20056',
 'coming',
 'fortune',
 'distrust',
 'barton',
 'mortal',
 'cusiter',
 '58bn',
 'mcewan',
 'blizzard',
 'sarcast',
 'fatigu',
 'jpmorgan',
 'sevenmonth',
 'sibierski',
 'jake',
 '86bn',
 'buildings',
 'dissuad',
 'vincz',
 'surroundings',
 'nomura',
 'mayland',
 'bingo',
 'joyc',
 'rue',
 'nattrass',
 'foe',
 'gleneagl',
 'tin',
 '77th',
 'correspondent',
 'ultima',
 'counterattack',
 'wrestl',
 'juggl',
 'eject',
 'harman',
 'carrow',
 '1830',
 'apollo',
 'amalgam',
 'namibia',
 'steadily',
 'disun',
 'clearest',
 'mainstay',
 'enterprise',
 'imminent',
 'tanguay',
 'portability',
 'mawrey',
 'pedestrian',
 'decre',
 'kids',
 'lokitorr',
 'selector',
 'cater',
 'flatten',
 'wirelessli',
 'angelina',
 'fallout',
 'engerwitzdorf',
 'iri',
 'w800',
 'shallow',
 'homophob',
 'jockey',
 'roster',
 'gibraltarian',
 'remiss',
 'simultaneously',
 'europewid',
 'haka',
 'dim',
 'consign',
 'trends',
 'signals',
 'satur',
 'tpm',
 'earl',
 'thirdquart',
 'nongovernment',
 'drives',
 'xmen',
 'homebuy',
 'ascend',
 'mc',
 'illadvis',
 'deficits',
 '194m',
 'fatboy',
 'deft',
 'obligations',
 'sanderson',
 'puerto',
 'splitcapit',
 'exdown',
 'theatrego',
 'brawl',
 'instil',
 'anselmo',
 'jewellery',
 '1400',
 'mcintyr',
 'explorer',
 '10km',
 'catholics',
 'solved',
 '6ft',
 'precondit',
 'tenant',
 'prophet',
 'representation',
 '1020',
 'ltd',
 'subtl',
 'wilder',
 'narbonn',
 'communiqu233',
 'chalon',
 'unbeliev',
 'widely',
 'inhabit',
 'smiley',
 'ljubicic',
 '1934',
 'netscap',
 'advanced',
 '700m',
 'optimism',
 'downloaded',
 'outsold',
 'lockup',
 'ares',
 'premises',
 '182',
 'treasury',
 'wideangl',
 'polygon',
 'podium',
 'charged',
 'alun',
 'casualties',
 'fizz',
 'balkan',
 'altogether',
 'reelection',
 'digits',
 'groen',
 'sanctions',
 'vindict',
 'cyberspac',
 'submarin',
 'concurr',
 'avatar',
 'tackled',
 'sridharan',
 'radcliffe',
 'burnout',
 'cesc',
 'costeffect',
 'romanc',
 '39m',
 'anglia',
 'lingus',
 'schuettler',
 'unfeas',
 'morchio',
 'invoic',
 'meibion',
 '1955',
 'ole',
 'segas',
 'disrespect',
 'angloamerican',
 'rspca',
 'holloway',
 'cowboy',
 'techniques',
 'mukherje',
 'esquiv',
 'estel',
 'endus',
 'sonybmg',
 'butcher',
 '76m',
 'worstaffect',
 'arkansa',
 'threatened',
 'operator',
 'olympian',
 'afterhour',
 'pedal',
 'gloss',
 'redesign',
 'peninsula',
 'surfers',
 'tunisian',
 'deplet',
 'intellect',
 'quash',
 'hackers',
 'eyebal',
 'appearances',
 'headlines',
 'liner',
 'hallmark',
 'macedonia',
 'coral',
 'gomarsall',
 'nop',
 'kirkcaldi',
 'mcname',
 '275',
 'conven',
 'sergei',
 'lima',
 'unruli',
 'corporation',
 'jez',
 'allianz',
 'unprofit',
 'inadequate',
 'anybody',
 'entries',
 'valent',
 'otherwise',
 'ernest',
 'luckili',
 'versa',
 'dale',
 'leases',
 'adams',
 'vicecaptain',
 'softbank',
 'hitter',
 'babysitt',
 'stuf',
 'cartagena',
 'occ',
 'principle',
 'tiein',
 'laggard',
 'acting',
 '145',
 'anita',
 'buytolet',
 'greav',
 'astound',
 'published',
 'rapidly',
 'torture',
 'crimes',
 'reservoir',
 'accustom',
 'outofcompetit',
 'jedi',
 'raini',
 'disadvantage',
 'athlete',
 'prater',
 'qca',
 'replacement',
 'commend',
 'wildcard',
 'fouri',
 'celebrities',
 'latch',
 'ancelotti',
 'theodor',
 'fleetboston',
 'creep',
 'obikwelu',
 'torbay',
 'kalman',
 'upandcom',
 'moon',
 'figaro',
 '427bn',
 'blacklist',
 'vindic',
 'alegr',
 'auckland',
 'redress',
 'demel',
 'sixyear',
 'unfriendli',
 'lastditch',
 'overdu',
 'payne',
 '43m',
 'shannon',
 'bnei',
 'diseases',
 'translated',
 'meat',
 'drivers',
 'revert',
 'synthesis',
 'skil',
 'erewash',
 'squarep',
 'hermion',
 'than',
 'methodolog',
 'kleinberg',
 'mcnamara',
 'bohemian',
 'brag',
 'niven',
 'donate',
 'rifkin',
 'gainer',
 'bse',
 'contribute',
 'foreignown',
 'snif',
 'daylewis',
 'adoption',
 'rework',
 'atwood',
 'unsustain',
 'interfax',
 'gianni',
 'lightly',
 'malik',
 'jeanett',
 'lancast',
 'rev',
 'liggett',
 'claudia',
 'feofanova',
 'reintroduc',
 'sussex',
 'cruelti',
 'jeanfrancoi',
 'rolf',
 'shops',
 'castro',
 'license',
 'tract',
 'numeraci',
 'vido',
 'bracket',
 'hapless',
 'gopinath',
 'fring',
 'rot',
 'claudio',
 'assistance',
 'extradit',
 'parodi',
 'profile',
 'pot',
 'graphicsintens',
 'fm2005',
 'jupiter',
 'everett',
 'succession',
 'mcenro',
 '117m',
 'pearl',
 'engines',
 'casinos',
 'lionhead',
 'likely',
 'rear',
 'packages',
 'justif',
 'wiltshir',
 'gorillaz',
 'communication',
 ...]

In [231]:
data['news_porter_stemmed'] = data['news_porter_stemmed'].apply(lambda x: ' '.join([word for word in x.split() if word not in (freq3)]))

In [232]:
data.head()

,category,text,index,category_id,news_without_stopwords,news_porter_stemmed
0,tech,tv future in the hands of viewers with home th...,1,0,tv future hands viewers home theatre systems p...,tv futur hand viewer home theatr system plasma...
1,business,worldcom boss left books alone former worldc...,2,1,worldcom boss left books alone former worldcom...,worldcom boss left book alon former worldcom b...
2,sport,tigers wary of farrell gamble leicester say ...,3,2,tigers wary farrell gamble leicester say rushe...,tiger wari farrel gambl leicest say rush make ...
3,sport,yeading face newcastle in fa cup premiership s...,4,2,yeading face newcastle fa cup premiership side...,yead face newcastl fa cup premiership side new...
4,entertainment,ocean s twelve raids box office ocean s twelve...,5,3,ocean twelve raids box office ocean twelve cri...,ocean twelv raid box offic ocean twelv crime s...

In [233]:
data = data[['index', 'category', 'category_id', 'news_porter_stemmed']]

In [234]:
#TF-IDF ***

In [235]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf = TfidfVectorizer(sublinear_tf=True, min_df=5, norm='l2', encoding='latin-1', ngram_range=(1, 2))

In [249]:
features = tfidf.fit_transform(data.news_porter_stemmed).toarray()
labels = data.category_id

In [250]:
features.shape

(2225, 15190)

In [251]:
data.columns = ['index', 'category', 'category_id', 'news_porter_stemmed']

In [252]:
data.head()

,index,category,category_id,news_porter_stemmed
0,1,tech,0,tv futur hand viewer home theatr system plasma...
1,2,business,1,worldcom boss left book alon former worldcom b...
2,3,sport,2,tiger wari farrel gambl leicest say rush make ...
3,4,sport,2,yead face newcastl fa cup premiership side new...
4,5,entertainment,3,ocean twelv raid box offic ocean twelv crime s...

In [253]:
category_id_df = data[['category', 'category_id']].drop_duplicates().sort_values('category_id')
category_to_id = dict(category_id_df.values)
id_to_category = dict(category_id_df[['category_id', 'category']].values)

In [254]:
from sklearn.feature_selection import chi2

In [256]:
N =3 
for category, category_id in sorted(category_to_id.items()):
    features_chi2 = chi2(features, labels == category_id)
    indices = np.argsort(features_chi2[0])
    feature_names = np.array(tfidf.get_feature_names())[indices]
    unigrams = [v for v in feature_names if len(v.split(' ')) == 1]
    bigrams = [v for v in feature_names if len(v.split(' ')) == 2]
    print("# '{}':".format(newstype))
    print("  . Most correlated unigrams:\n       . {}".format('\n       . '.join(unigrams[-N:])))
    print("  . Most correlated bigrams:\n       . {}".format('\n       . '.join(bigrams[-N:])))

# 'tech':
  . Most correlated unigrams:
       . oil
       . growth
       . bank
  . Most correlated bigrams:
       . econom growth
       . analyst said
       . stock market
# 'tech':
  . Most correlated unigrams:
       . award
       . star
       . film
  . Most correlated bigrams:
       . lo angel
       . best film
       . box offic
# 'tech':
  . Most correlated unigrams:
       . blair
       . tori
       . labour
  . Most correlated bigrams:
       . lib dem
       . toni blair
       . mr blair
# 'tech':
  . Most correlated unigrams:
       . champion
       . coach
       . cup
  . Most correlated bigrams:
       . australian open
       . grand slam
       . six nation
# 'tech':
  . Most correlated unigrams:
       . technolog
       . comput
       . user
  . Most correlated bigrams:
       . peopl use
       . let peopl
       . mobil phone

In [ ]:
chi2